# Data Analysis Tasks

In [1]:
# Importation des modules
import pandas as pd
import numpy as np

In [2]:
# Importation de la donnée
data = pd.read_csv("/Users/alelia/Desktop/Data/TRY/Github/Python/Netflix/Data/netflix_titles.csv")

In [3]:
data.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

<div class="alert alert-success"><b>Quelle est la meilleure année de sortie pour Netflix ?
    </b></div>

In [4]:
# Selection de de la donnée pour les films
movie_data = data[data['type'] == 'Movie']

In [6]:
# Création d'une colonne fait de 1
movie_data.loc[:, 'count'] = 1

In [7]:
# Je groupe les films par leur année de sortie
movie_data_g = movie_data.groupby(['release_year']).sum().reset_index()[['release_year','count']]

In [8]:
# Pour plus de clarté, je les ordonne par ordre de décroissant
movie_data_g.sort_values(['count'], ascending=False)

    release_year  count
69          2018    767
68          2017    767
67          2016    658
70          2019    633
71          2020    517
..           ...    ...
12          1961      1
14          1963      1
17          1966      1
5           1947      1
4           1946      1

[73 rows x 2 columns]

Il s'agit donc de l'année 2018 ou 2017.

<div class="alert alert-success"><b>Quelle est l'année où Netflix a le plus ajouté de programmes ?
    </b></div>

In [9]:
# Conversion de d'une nouvelle colonne new date en datetime
data['new_date'] = pd.to_datetime(data['date_added'], errors='coerce')

In [10]:
# Extraction de l'année
data['year_added'] = data['new_date'].dt.year

In [11]:
# Création d'une colonne fait de 1
data['count'] = 1

In [12]:
# Regroupement du nombre de programmes par année
data_year = data.groupby(['year_added']).count().reset_index()[['year_added','count']]

In [13]:
# Pour plus de clarté, je les ordonne par ordre de décroissant
data_year.sort_values(['count'], ascending=False)

    year_added  count
11      2019.0   1999
12      2020.0   1878
10      2018.0   1625
13      2021.0   1498
9       2017.0   1164
8       2016.0    418
7       2015.0     73
6       2014.0     23
3       2011.0     13
5       2013.0     10
4       2012.0      3
0       2008.0      2
1       2009.0      2
2       2010.0      1

C'est donc l'année 2019

<div class="alert alert-success"><b>Quelle est le mois où Netflix a le plus ajouté de programmes ?
    </b></div>

In [14]:
# Extraction du mois
data['month_added'] = data['new_date'].dt.month

In [15]:
# Conversion en string
data['month_added'] = data['month_added'].astype(str)

In [16]:
# Regroupement du nombre de programmes par mois
data_month = data.groupby(['month_added']).count().reset_index()[['month_added', 'count']]

In [17]:
# Pour plus de clarté, je les ordonne par ordre de décroissant
data_month.sort_values(['count'], ascending=False)

   month_added  count
9          7.0    819
3         12.0    797
11         9.0    765
6          4.0    759
1         10.0    755
10         8.0    749
5          3.0    734
0          1.0    727
8          6.0    724
2         11.0    697
7          5.0    626
4          2.0    557
12         nan     98

Le mois où Netflix a ajouté le plus de programmes est le mois de Juillet.

<div class="alert alert-success"><b>Quel est le film avec le plus grand nombre de caractères dans toute la donnée ?
    </b></div>

In [26]:
# Ajouter une nouvelle colonne qui calcule la longueur de chaque titre
movie_data.loc[:, 'title_length'] = movie_data['title'].apply(len)

# Trouver l'index du titre le plus long
longest_title_index = movie_data['title_length'].idxmax()

# Récupérer le titre le plus long
longest_title = movie_data.loc[longest_title_index, 'title']

In [27]:
longest_title

'Jim & Andy: The Great Beyond - Featuring a Very Special, Contractually Obligated Mention of Tony Clifton'